#middleFunction {
	/* width:1136px; */
	/* height: 660px; */
	/* background:#F2F1F8; */
	border-radius: 2px;
	/* position: relative; */
	overflow: hidden;
}

#searchShop {
	border: 0px;
}

.seletion {
	overflow: hidden;
	
}

#searchShop {
	/* background: #FFFFFF; */
}

.seletion li {
	float: left;
	list-style: none;
	width: 112px;
	height: 40px;
	line-height: 40px;
	font-size: 16px;
	font-family: PingFangSC-Regular, PingFang SC;
	font-weight: 400;
	color: rgba(0, 0, 0, 0.65);
	text-align: center;


}

.seletion li:nth-of-type(1) {
	margin-left: 14px;
}

.seletion .choose {
	border-bottom: 2px solid rgba(114, 92, 215, 1);
	color: rgba(114, 92, 215, 1);
}

.seletion .choose1 {
	border-bottom: 2px solid rgba(114, 92, 215, 1);
	color: rgba(114, 92, 215, 1);
}

.box {
	overflow: hidden;
	height: 489px;
	width: 1136px;
	/* border: 1px solid red; */
	position: relative;
}

.box .boxIn {
	/* z-index: -1; */
	/* position:absolute; */
	height: 489px;
	width: 1136px;
	/* float: left; */
}
.moneyAb{
	/* float: left; */
	position: absolute;
	left: 265px;
	top: 285px;
	font-size:24px;
	font-family:PingFangSC-Medium,PingFang SC;
	font-weight:500;
	color:rgba(79,89,111,1);
}
.box #main1 {
	float: left;
}

.box #main2 {
	float: left;
}

.box #main3 {
	float: left;
}

.box #main4 {
	float: left;
}

.box .boxIn:nth-of-type(2) {
	display: none;
	/* background-color: #985F0D; */
	position: absolute;
	top: 0px;
	left: 0px;
}

.box .boxIn:nth-of-type(3) {
	display: none;
	/* background-color: #00BCD4; */
	position: absolute;
	top: 0px;
	left: 0px;
}

.box .boxIn:nth-of-type(4) {
	/* display: none; */
	/* background-color: #C7254E; */
	position: absolute;
	top: 0px;
	left: 0px;
	/* z-index: 1; */
}

#yuan {
	width: 200px;
	height: 200px;
	background-color: #FFFFFF;
	border-radius: 100px;
	position: absolute;
	z-index: 10;
	left: 207px;
	top: 386px;
}

.title {
	/* float: left; */
	/* width:98px;/* 
	/* height:20px; */
	font-size: 14px;
	font-family: PingFangSC-Medium, PingFang SC;
	font-weight: 500;
	color: rgba(79, 89, 111, 1);
	margin-top: 49px;
	margin-left: 58px;
	/* line-height:20px; */
}

#main1 {
	width: 500px;
	height: 350px;
	margin-top: 50px;
	margin-left: 57px;
}

#main2 {
	width: 500px;
	height: 350px;
	margin-top: 50px;
	margin-left: 57px;
}

#main3 {
	width: 500px;
	height: 350px;
	margin-top: 50px;
	margin-left: 57px;
}

#main4 {
	width: 500px;
	height: 350px;
	margin-top: 50px;
	margin-left: 57px;
}

.box .data {
	float: left;
}

.data {
	margin-top: 70px;
}

.data .kuan {
	width: 12px;
	height: 12px;
	background: rgba(115, 81, 233, 1);
	border-radius: 1px;
	float: left;
	margin-top: 4px;
}

.data p {
	float: left;
}

.data span {
	float: left;
}

.data1 {
	margin-bottom: 12px;
	overflow: hidden;
}

.data .data1 p {
	line-height: 20px;
}

.data .data1 span {
	line-height: 20px;
}

.data .data1 .smallTitle {
	width: 72px;
	margin-left: 9px;
	font-size: 12px;
	font-family: PingFangSC-Medium, PingFang SC;
	font-weight: 500;
	color: rgba(140, 149, 164, 1);
	/* margin-right: 13px; */
}

.data .data1 .frequency {
	font-size: 12px;
	font-family: PingFangSC-Regular, PingFang SC;
	font-weight: 400;
	color: rgba(140, 149, 164, 1);
	padding-left: 17px;
	/* margin-right: 33px; */
	width: 61px;
}

.data .data1 .money {
	font-size: 12px;
	font-family: PingFangSC-Medium, PingFang SC;
	font-weight: 500;
	color: rgba(79, 89, 111, 1);
	margin-left: 21px;
}

.data .data1 span {
	color: #E9E8EB;
	font-size: 15px;
}

.underBox {
	width: 1136px;
	height: 370px;
	background: rgba(255, 255, 255, 1);
	box-shadow: 0px 2px 4px 0px rgba(227, 235, 251, 1);
	border-radius: 6px;
	float: left;
	margin-top: 24px;
	margin-left: 24px;

}


.secondTitle {
	font-size: 14px;
	font-family: PingFangSC-Medium, PingFang SC;
	font-weight: 500;
	color: rgba(79, 89, 111, 1);
	margin-left: 30px;
	margin-top: 24px;
}

#bar {
	width: 680px;
	height: 290px;
	float: left;
	margin-top: 30px;
	margin-left: 40px;
}
.barOne{
	width:1px;
	height:294px;
	background:rgba(233,233,233,1);
	float: left;
	margin-top: 17px;
	margin-left: 40px;
}
.gameNumber{
	margin-top: 30px;
	margin-left: 30px;
	float: left;
}
.gameNumber li{
	list-style: none;
	margin-bottom: 11px;
	font-size:13px;
	font-family:PingFangSC-Regular,PingFang SC;
	font-weight:400;
	color:rgba(118,127,144,1);
	width: 270px;
	clear: both;
	overflow: hidden;
}
.ulTitle{
	font-size:16px;
	font-family:PingFangSC-Medium,PingFang SC;
	font-weight:500;
	color:rgba(79,89,111,1);
	margin-bottom: 14px;
}
.gameName{
	float: left;
}
.openNumber{
	float: right;
}
.openNumber span{
	font-size:16px;
	font-family:PingFangSC-Medium,PingFang SC;
	font-weight:500;
	color:RGBA(130, 130, 132, 1);
}
li .No{
	margin-right: 12px;
	float: left;
	width:18px;
	height:18px;
	font-size:12px;
	font-family:PingFangSC-Semibold,PingFang SC;
	font-weight:600;
	color:rgba(255,255,255,1);
	text-align: center;
	line-height: 18px;
}

li .No1{
	float: left;
	width:22px;
	height:17px;
	background-image: url(../img/ic_1.svg);
}
li .No2{
	width:22px;
	height:17px;
	float: left;
	background-image: url(../img/ic_2.svg);
}
li .No3{
	float: left;
	width:22px;
	height:17px;
	background-image: url(../img/ic_3.svg);
}
li .noLast{
	margin-left: 2px;
	margin-right: 14px;
	font-size:12px;
	font-family:PingFangSC-Semibold,PingFang SC;
	font-weight:600;
	color:rgba(121,152,250,1);
	background:rgba(121,189,250,0.13);
}
li .noLast .gameName{
	/* margin-left: 2px; */
}
.moneyAll{
	margin-top: 77px;
	float: left;
}
.moneyAll p{
	clear: both;
}
.moneyAll p:nth-of-type(1){
	font-size:16px;
	font-family:PingFangSC-Medium,PingFang SC;
	font-weight:500;
	color:rgba(140,149,164,1);
	margin-bottom: 10px;
}
.moneyAll p:nth-of-type(2){
	font-size:32px;
	font-family:PingFangSC-Medium,PingFang SC;
	font-weight:500;
	color:rgba(79,89,111,1);
}
#today .data1:nth-of-type(2) .kuan{
	background:rgba(0,235,224,1);
	border-radius:1px;
}
#today .data1:nth-of-type(3) .kuan{
	background:rgba(255,98,121,1);
	border-radius:1px;
}
#today .data1:nth-of-type(4) .kuan{
	background:rgba(63,132,254,1);
	border-radius:1px;
}
#week .data1:nth-of-type(2) .kuan{
	background:rgba(0,235,224,1);
	border-radius:1px;
}
#week .data1:nth-of-type(3) .kuan{
	background:rgba(255,98,121,1);
	border-radius:1px;
}
#week .data1:nth-of-type(4) .kuan{
	background:rgba(63,132,254,1);
	border-radius:1px;
}
#month .data1:nth-of-type(2) .kuan{
	background:rgba(0,235,224,1);
	border-radius:1px;
}
#month .data1:nth-of-type(3) .kuan{
	background:rgba(255,98,121,1);
	border-radius:1px;
}
#month .data1:nth-of-type(4) .kuan{
	background:rgba(63,132,254,1);
	border-radius:1px;
}
#year .data1:nth-of-type(2) .kuan{
	background:rgba(0,235,224,1);
	border-radius:1px;
}
#year .data1:nth-of-type(3) .kuan{
	background:rgba(255,98,121,1);
	border-radius:1px;
}
#year .data1:nth-of-type(4) .kuan{
	background:rgba(63,132,254,1);
	border-radius:1px;
}
.changeData{
	border-bottom: 1px solid rgba(233, 233, 233, 1);
	overflow: hidden;
	/* float: left; */
}
.seletion{
	float: left;
	overflow: hidden;
}
#beginTime{
	float: left;
	width:130px;
	height:32px;
	margin-left: 333px;
}
#endTime{
	width:130px;
	height:32px;
	float: left;
}
.changeData span{
	margin-left: 13px;
	margin-right: 13px;
	line-height:32px;
	float: left;
	font-size:12px;
	font-family:PingFangSC-Regular,PingFang SC;
	font-weight:400;
	color:rgba(79,89,111,1);
}
.href {
	padding-top: 19px;
	font-size: 14px;
	font-family: PingFangSC-Regular, PingFang SC;
	font-weight: 400;
	color: rgba(0, 0, 0, 0.45);
	margin-left: 0px;
	float: left;
}

#xie {
	padding-top: 19px;
	float: left;
	font-size: 14px;
	font-family: PingFangSC-Regular, PingFang SC;
	font-weight: 400;
	color: rgba(0, 0, 0, 0.45);
	margin-left: 10px;
	margin-right: 8px;
}

.href1 {
	font-size: 14px;
	font-family: PingFangSC-Regular, PingFang SC;
	font-weight: 400;
	color: rgba(0, 0, 0, 0.65);
	padding-top: 19px;
	/* float: left; */
}
#searchShopInputDiv{
	margin-top: 40px;
	position: relative;
	
}
#searchShopICON{
	visibility: hidden;
}
#searchShopInputDiv input{
	/* margin-left: 20px; */
	background: url(../img/Down.svg) no-repeat 250px;
}
#shopNameText{
	margin-top: 45px;
}
.menuAi1 img{
	margin-top: 21px;
	margin-left: 17px;
}
.select{
	display: none;
	position: absolute;
	left: 1px;
	top:34px;
	width: 270px;
	background-color: #fff;
	border: 1px solid rgba(114, 92, 215, 0.3);
	border-radius: 4px;
	z-index: 10;
	height: 280px;
	overflow: hidden;
}
.select li{
	padding-left: 12px;
	height: 30px;
	line-height: 30px;
}