#searchShop {
	width: 1072px;
	height: 129px;
	margin: 0 auto;
	border-bottom: 1px solid rgba(232, 232, 232, 1);
}



#shopNameText {
	width: 56px;
	height: 22px;
	/*margin-left: 32px;*/
	margin-top: 53px;
	float: left;
}

#searchShopInputDiv {
	margin-top: 48px;
	width: 275px;
	height: 35px;
	background: rgba(255, 255, 255, 1);
	float: left;
}

#searchShopInput {
	margin-left: -18px;
	/* position: absolute; */
	width: 259px;
	height: 32px;
}


#searchShopICON {
	z-index: 6;
	float: left;
	width: 19px;
	height: 19px;
	position: relative;
	left: 244px;
	top: 8px;
}

#restButton {
	float: left;
	width: 65px;
	height: 32px;
	margin-top: 48px;
	margin-left: 8px;
}

#searchButton {
	float: left;
	width: 65px;
	height: 32px;
	margin-top: 48px;
	margin-left: 40px;
}




#addShop {
	width: 108px;
	height: 32px;
	margin-top: 21px;
	margin-left: 32px;
}

#addShopIcon {
	float: left;
	width: 13px;
	height: 13px;
	/* border: 1px solid white; */
	margin-left: 14px;
	margin-top: 5px;
	margin-right: 8px;
}

#returnText {
	margin-left: 32px;
	margin-top: 16px;
	width: 64px;
	height: 24px;
}
